/* line 1, mck.scss */
html { overflow-y: hidden; }

/* line 4, mck.scss */
#loader { position: absolute; background: #fff; width: 100%; height: 100%; background-size: cover; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; z-index: 1000; margin: 0px; padding: 0px; }
/* line 18, mck.scss */
#loader .ld { position: absolute; padding-top: 180px; font-weight: bold; color: #ddd; }
/* line 25, mck.scss */
#loader .square-wrapper { width: 100px; height: 100px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
/* line 33, mck.scss */
#loader .square-wrapper .square1 { position: absolute; width: inherit; height: inherit; -webkit-animation: rotate 0.7s linear infinite; animation: rotate 0.7s linear infinite; border-radius: 400%; border: 5px solid #1565c0; border-top: 5px solid transparent; border-left: 5px solid transparent; }
/* line 46, mck.scss */
#loader .square-wrapper .square2 { position: absolute; width: inherit; height: inherit; -webkit-animation: rotate 0.1s linear infinite; animation: rotate 0.1s linear infinite; border-radius: 1000%; border: 5px solid SkyBlue; border-right: 5px solid transparent; border-top: 5px solid transparent; border-left: 5px solid transparent; }

@-webkit-keyframes rotateInv { from { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
  to { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); } }

@keyframes rotateInv { from { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
  to { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); } }
@-webkit-keyframes rotate { from { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); } }
@keyframes rotate { from { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); } }
/* line 83, mck.scss */
.process-flow-content { margin-top: -30px !important; height: 840px; overflow: hidden; }
/* line 88, mck.scss */
.process-flow-content .card-search { height: 140px; }
/* line 91, mck.scss */
.process-flow-content .card-search form { margin-top: -20px; }
/* line 97, mck.scss */
.process-flow-content .card-process-flow { padding: 40px; height: 500px; margin-top: -10px !important; }

/* line 105, mck.scss */
.process-flow { min-height: 640px; margin-top: -20px; }
/* line 111, mck.scss */
.process-flow .node { width: 300px !important; }
/* line 117, mck.scss */
.process-flow .node-off { opacity: 0; }
/* line 121, mck.scss */
.process-flow .node-box { width: 80%; border: 5px solid #ddd; border-radius: 5px; padding: 5px 20px; background: #fff; box-shadow: 1px 1px 30px -20px #000; height: 120px; color: #666; float: left; z-index: 1009 !important; }
/* line 135, mck.scss */
.process-flow .node-box .data-result { margin-left: -10px; margin-top: 10px; padding: 1px 5px; font-size: 12px; border-radius: 4px; }
/* line 142, mck.scss */
.process-flow .node-box .data-result #order { display: block; font-size: 11px; width: 100%; margin-top: 0px; padding: 0px; }
/* line 149, mck.scss */
.process-flow .node-box .data-result #order .tag { font-weight: bold !important; color: #666; }
/* line 153, mck.scss */
.process-flow .node-box .data-result #order .tag .value { color: #0277bd !important; font-weight: light !important; }
/* line 164, mck.scss */
.process-flow .node-box .x1 { font-size: 11px; margin-top: -15px; }
/* line 169, mck.scss */
.process-flow .node-box .status { position: absolute; width: 140px; right: -55px; bottom: 0px; }
/* line 175, mck.scss */
.process-flow .node-box .status .indicator { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #fff; padding: 5px; background: #ddd; width: 30px; height: 30px; border-radius: 4px; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
/* line 188, mck.scss */
.process-flow .node-box .status .indicator float:left img { width: 140%; }
/* line 197, mck.scss */
.process-flow .node-box .mck-block-icon { display: block; font-size: 20px; font-weight: bold; text-align: center; padding-top: 40px; margin: 0px auto; margin-left: px; margin-top: -35px; color: #666; text-shadow: inset -1px 1px 1px #000; }
/* line 209, mck.scss */
.process-flow .node-box .mck-block-icon h4 { font-size: 0.9em; width: 100%; text-align: center; font-weight: 900; min-height: 0%; padding: 0px !important; margin: 0px; margin-top: -2px; }
/* line 220, mck.scss */
.process-flow .node-box .mck-block-icon img { width: 40%; margin-top: -10px; margin-left: -20px; }
/* line 231, mck.scss */
.process-flow #node-3 #order:first-child { margin-top: 20px; }
/* line 237, mck.scss */
.process-flow .node-thread { display: block; background: #ddd; height: 7px; float: left; margin-top: 90px; }
/* line 245, mck.scss */
.process-flow .horizontal { margin-top: 60px; width: 20%; }
/* line 250, mck.scss */
.process-flow .vertical { height: 40px; width: 7px; margin-left: 60px; margin-top: 10px; margin-bottom: -10px; }
/* line 258, mck.scss */
.process-flow .col-md-3 { width: 330px; }
/* line 265, mck.scss */
.process-flow .error .node-box { border: 5px solid red; }
/* line 269, mck.scss */
.process-flow .error .node-thread { background: red; }
/* line 273, mck.scss */
.process-flow .error .status .indicator { background: red; }
/* line 279, mck.scss */
.process-flow .data-alt { margin-top: 0px !important; }
/* line 283, mck.scss */
.process-flow .alt .indicator { float: right; margin-right: 50px; -webkit-transform: translateY(20%) !important; -ms-transform: translateY(20%) !important; transform: translateY(20%) !important; background: #ddd; }
/* line 293, mck.scss */
.process-flow .success .node-box { border: 5px solid green; }
/* line 297, mck.scss */
.process-flow .success .node-thread { background: green; }
/* line 301, mck.scss */
.process-flow .success .status .indicator { background: green; }
/* line 307, mck.scss */
.process-flow .tree { margin-top: -5px; }
/* line 308, mck.scss */
.process-flow .tree svg { width: 95%; margin-top: -120px; margin-bottom: -20px; margin-left: 0px; }
/* line 317, mck.scss */
.process-flow .tree .branch { display: block; position: absolute; height: 10px; width: 40px; border-radius: 5px; background: #ddd; -webkit-transition: ease-in all 0.5s; transition: ease-in all 0.5s; }
/* line 326, mck.scss */
.process-flow .tree .branches { opacity: 0; }
/* line 330, mck.scss */
.process-flow .tree .four-branches, .process-flow .tree .three-branches, .process-flow .tree .two-branches, .process-flow .tree .single-branch { display: block; opacity: 1 !important; clear: both; height: 50px; width: 100%; margin-left: 100px; }
/* line 347, mck.scss */
.process-flow .tree .four-branches .branch:first-child { display: block; width: 500px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(174deg); -ms-transform: rotate(174deg); transform: rotate(174deg); }
/* line 356, mck.scss */
.process-flow .tree .four-branches .branch:nth-child(2) { display: block; width: 400px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(170deg); -ms-transform: rotate(170deg); transform: rotate(170deg); }
/* line 364, mck.scss */
.process-flow .tree .four-branches .branch:nth-child(3) { display: block; width: 100px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(140deg); -ms-transform: rotate(140deg); transform: rotate(140deg); }
/* line 372, mck.scss */
.process-flow .tree .four-branches .branch:nth-child(4) { display: block; width: 100px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg); }
/* line 384, mck.scss */
.process-flow .tree .three-branches .branch:first-child { display: block; width: 300px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(170deg); -ms-transform: rotate(170deg); transform: rotate(170deg); }
/* line 393, mck.scss */
.process-flow .tree .three-branches .branch:nth-child(2) { display: block; width: 100px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(145deg); -ms-transform: rotate(145deg); transform: rotate(145deg); }
/* line 402, mck.scss */
.process-flow .tree .three-branches .branch:nth-child(3) { display: block; width: 100px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }
/* line 411, mck.scss */
.process-flow .tree .three-branches .branch:nth-child(4) { display: none; }
/* line 419, mck.scss */
.process-flow .tree .two-branches .branch:first-child { display: block; width: 100px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(145deg); -ms-transform: rotate(145deg); transform: rotate(145deg); }
/* line 427, mck.scss */
.process-flow .tree .two-branches .branch:nth-child(2) { display: block; width: 100px; height: 7px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }
/* line 436, mck.scss */
.process-flow .tree .two-branches .branch:nth-child(3), .process-flow .tree .two-branches .branch:nth-child(4) { display: none; }
/* line 446, mck.scss */
.process-flow .tree .single-branch .branch:first-child { display: block; width: 50px; height: 5px; magrin-left: 5px; -webkit-transform-origin: 3px; -ms-transform-origin: 3px; transform-origin: 3px; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
/* line 457, mck.scss */
.process-flow .tree .single-branch .branch:nth-child(2), .process-flow .tree .single-branch .branch:nth-child(3), .process-flow .tree .single-branch .branch:nth-child(4) { display: none; }
/* line 467, mck.scss */
.process-flow .tree.branches-off svg #second-branch, .process-flow .tree.branches-off svg #first-branch { display: none; }
/* line 478, mck.scss */
.process-flow .tree.branches-on svg #second-branch, .process-flow .tree.branches-on svg #first-branch { display: block; }
/* line 489, mck.scss */
.process-flow .tree.first-branch svg #first-branch { fill: green; display: block; -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }
/* line 501, mck.scss */
.process-flow .tree.second-branch svg #second-branch { fill: green; display: block; }
/* line 512, mck.scss */
.process-flow .tree.all-branch svg #second-branch { fill: green; display: block; }
/* line 517, mck.scss */
.process-flow .tree.all-branch svg #first-branch { fill: green; display: block; }
/* line 528, mck.scss */
.process-flow #node-4 { margin-bottom: -10px; }
/* line 531, mck.scss */
.process-flow .sub-tree-flow-1 { margin-top: 5px; -webkit-transform: translateX(-40px); -ms-transform: translateX(-40px); transform: translateX(-40px); }
/* line 535, mck.scss */
.process-flow .sub-tree-flow-1 .node-box { width: 180px; -webkit-transform: translateX(10px); -ms-transform: translateX(10px); transform: translateX(10px); margin: 0px auto; }
/* line 543, mck.scss */
.process-flow .sub-tree-flow-2 { width: 840px; margin-left: -560px; top: -20px; }
/* line 549, mck.scss */
.process-flow .sub-tree-flow-2 .node-box { width: 180px; }
/* line 561, mck.scss */
.process-flow #sub-nodes .col-sm-3 { -webkit-transition: ease-in all 0.5s; transition: ease-in all 0.5s; }
/* line 565, mck.scss */
.process-flow #sub-nodes.two-nodes { margin-left: -440px; }
/* line 567, mck.scss */
.process-flow #sub-nodes.two-nodes .col-sm-3:nth-child(1) { opacity: 1; margin-left: 80px; margin-top: 10px; }
/* line 572, mck.scss */
.process-flow #sub-nodes.two-nodes .col-sm-3:nth-child(2) { opacity: 1; margin-left: 0px; margin-top: 10px; }
/* line 580, mck.scss */
.process-flow #sub-nodes.two-nodes .col-sm-3:nth-child(3), .process-flow #sub-nodes.two-nodes .col-sm-3:nth-child(4) { opacity: 0; }
/* line 585, mck.scss */
.process-flow #sub-nodes.three-nodes { margin-left: -460px; }
/* line 587, mck.scss */
.process-flow #sub-nodes.three-nodes .col-sm-3:nth-child(1), .process-flow #sub-nodes.three-nodes .col-sm-3:nth-child(2), .process-flow #sub-nodes.three-nodes .col-sm-3:nth-child(3) { opacity: 1; margin-top: 10px; }
/* line 593, mck.scss */
.process-flow #sub-nodes.three-nodes .col-sm-3:nth-child(4) { opacity: 0; margin-top: 10px; }
/* line 599, mck.scss */
.process-flow #sub-nodes.four-nodes { margin-left: -570px; }
/* line 601, mck.scss */
.process-flow #sub-nodes.four-nodes .col-sm-3:nth-child(1), .process-flow #sub-nodes.four-nodes .col-sm-3:nth-child(2), .process-flow #sub-nodes.four-nodes .col-sm-3:nth-child(3), .process-flow #sub-nodes.four-nodes .col-sm-3:nth-child(4) { opacity: 1; margin-top: 8px; }
/* line 609, mck.scss */
.process-flow #sub-nodes.single-node { margin-left: -460px; }
/* line 611, mck.scss */
.process-flow #sub-nodes.single-node .col-sm-3:nth-child(1) { opacity: 1; margin-left: 200px; margin-top: -13px; }
/* line 616, mck.scss */
.process-flow #sub-nodes.single-node .col-sm-3:nth-child(2), .process-flow #sub-nodes.single-node .col-sm-3:nth-child(3), .process-flow #sub-nodes.single-node .col-sm-3:nth-child(4) { opacity: 0; display: none; }

/* line 628, mck.scss */
svg.branch4 #branch1, svg.branch4 #branch2, svg.branch4 #branch3, svg.branch4 #branch4 { display: none; }
/* line 631, mck.scss */
svg.branch4 #branch4 { display: block !important; }

/* line 638, mck.scss */
svg.branch2 #branch1, svg.branch2 #branch2, svg.branch2 #branch3, svg.branch2 #branch4 { display: none; }
/* line 641, mck.scss */
svg.branch2 #branch2 { display: block !important; }

/* line 647, mck.scss */
svg.branch3 #branch1, svg.branch3 #branch2, svg.branch3 #branch3, svg.branch3 #branch4 { display: none; }
/* line 650, mck.scss */
svg.branch3 #branch3 { display: block !important; }

/* line 656, mck.scss */
svg.branch1 #branch1, svg.branch1 #branch2, svg.branch1 #branch3, svg.branch1 #branch4 { display: none; }

/*# sourceMappingURL=mck.css.map */